header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-sizing: border-box;
  z-index: 1000;
  
}


header .navbar {
  display: flex;
  gap: 30px; 
}


header .navbar a {
  color: rgb(211, 62, 62);
  text-decoration: none;
  font-size: 1rem;
}

header .navbar a:hover {
  color: lightgreen;
}



header h2 {
  color: white;
  margin: 0;
  font-size: 24px;
}
.card h2 {
  position: static;
  background: none; 
  color: black;     
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: bold;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px; 
}

.card {
  position: relative;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  width: 400px;
  height: 350px;
  margin: 10px;
  color: rgb(229, 51, 140);
  text-align: center;
  background-position: center;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
}
.floating-emoji {
    position: fixed; 
    top: 300px;      
    right: 10px;     
    font-size: 2rem;
    z-index: 1000;   
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
 
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
}
